{% extends 'filter.html' %}

{% block return %}
    <h1> {{ num_returned }} Cars Found </h1>


    {% if cars|length == 0 %}
        NO CARS FOUND!
    {% else %}
        {% for car in cars %}
            <div class='car'>
                <h5>ID: {{ car[0] }}</h5>
                <h3>{{ car[1] }}</h3>
                <h4>{{ car[2] }} - {{ car[3] }}</h4>
                <div class='specs'>
                    <p>
                    HP: {{ car[4] }}
                    <br>
                    Torque: {{ car[5] }}
                    <br>
                    Engine: {{ car[6] }} Cylinder, {{ car[7] }}L ({{ car[8] }})
                    <br>
                    Drive: {{ car[9] }}
                    <br>
                    Transmission Options: {{ car[10] }}
                    <br>
                    {% if car[11] != 9999 %}
                        Model Years: {{ car[11] }} - {{ car[12] }}
                    {% else %}
                        Model Years: {{ car[11] }} - Current
                    {% endif %}
                    </p>

                </div>
                Cars that are similar to this: <br>
                
            </div>
            
        {% endfor %}

    {% endif %}
{% endblock %}