{% extends 'search.html' %}

{% block return %}
    <h1> {{ num_returned }} Cars Found </h1>


    {% if cars|length == 0 %}
        NO CARS FOUND!
    {% else %}
        {% for car in cars %}
            <div class='car'>
                <h3>{{ car[0] }}</h3>
                <h4>{{ car[1] }} - {{ car[2] }}</h4>
                <div class='specs'>
                    <p>
                    HP: {{ car[3] }}
                    <br>
                    Torque: {{ car[4] }}
                    <br>
                    Engine: {{ car[5] }} Cylinder, {{ car[6] }}L ({{ car[7] }})
                    <br>
                    Drive: {{ car[8] }}
                    <br>
                    Transmission Options: {{ car[9] }}
                    <br>
                    {% if car[11] != 9999 %}
                        Model Years: {{ car[10] }} - {{ car[11] }}
                    {% else %}
                        Model Years: {{ car[10] }} - Current
                    {% endif %}
                    </p>

                </div>
            </div>
        {% endfor %}

    {% endif %}
{% endblock %}